.k-checkbox {
        display: inline-block;
        position: relative;
        width: 13px;
        width: 16px \0;
        height: 13px;
        height: 16px \0;
        -webkit-appearance: none;
        background: white;
        border: 1px solid #dcdcdc;
        border: 1px solid transparent \0;
        border-radius: 1px;
        margin: 0px 5px;
}
.k-checkbox:hover {
        border-color: #c6c6c6;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
        -webkit-box-shadow: none \9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
        box-shadow: none \9;
}
.k-checkbox:after {
        display: block;
        content: ' ';
        position: absolute;
        top: -3.5px;
        margin-top: 50%;
        left: -3.5px;
        margin-left: 50%;
        width: 7px;
        height: 7px;
        -webkit-appearance: none;
        background: transparent;
        border-radius: 1px;
}
.k-checkbox[k-status="vChecked"]:after {
        background: #aaaaaa;
}
.k-checkbox[k-status="vGrayed"]:after {
        border: 2px solid #aaaaaa;
        top: -4.5px;
        margin-top: 50%;
        left: -4.5px;
        margin-left: 50%;
        width: 9px;
        height: 9px;
}
.k-clickable {
        cursor: pointer;
}